@import '~flavor-scss/scss/flavor';

html {
  font-size: 10px;
}

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
  font-size: 2rem;
}

.layout {
  max-width: 76rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  height: 8rem;
}

.nav__link {
  margin-left: 2rem;
}

.box-heading {
  @include box-size(auto 10rem);
  @include border(.2rem solid rgba(0,0,0,.3) 2rem);
}
